:host.fullsize {
  transform: translateY(-56px);
}

:host {
  position: absolute;
  top: 56px;
  width: 100%;
  z-index: 100;
  transition: transform 0.3s ease;
}

:host .controls-container {
  display: flex;
  background: white;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

:host .text {
  flex-grow: 4;
  display: flex;
  font-size: 1.25rem;
  padding: .5rem 0;
}

:host .text, :host button {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

:host .text:hover, :host button:hover {
  cursor: pointer;
  background: #e2e1e0;
}

:host .text div {
  flex-grow: 1;
  padding: 0 1rem;
}

@media (max-width: 350px) {
  :host .text span {
    display: block;
  }
}

:host button {
  flex-grow: 3;
  font-size: 1.25rem;
  background: white;
  padding: .5rem 0;
  border: none;
}

:host button:focus {
  outline: none;
}

:host .dropdown-container {
  height: 0;
}

:host input[name="dp"] {
  display: inline-block;
  border: none;
  height: 0;
  padding: 0;
  margin: 0 auto;
}

/* Datepicker Drop Down */

:host /deep/ .dropdown-menu {
  left: 0 !important;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: -12px;
}

/*:host /deep/ .dropdown-menu {*/
  /*height: 100%;*/
/*}*/

:host /deep/ table {
  width: 100%;
}
