.navbar {
  padding:0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-brand{
  padding: 1rem 0 .8rem 0;
}

.navbar-brand h1 {
  font-size:1.25rem;
  font-weight: lighter;
  margin:0;
}
.navbar .nav-link {
  padding: 1rem;
  margin-left: 0;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.navbar .nav-link:hover {
  background-color: hsl(204,4%,33%);
}
