<div class="container-fluid timerow">
  <div class="row" style="padding-left:.5rem; padding-right:.5rem;">
    <div class="col-xs-12 col-md-3">
      <div class="form-group">
        <label for="project">Project</label>
        <input id="project" class="form-control" type="text" placeholder="Project"/>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="container-fluid inner-container">
        <div class="row inputTime">
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="from">From</label>
              <ngb-timepicker id="from" [(ngModel)]="from" [spinners]="false"></ngb-timepicker>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="to">To</label>
              <ngb-timepicker id="to" [(ngModel)]="to" [spinners]="false"></ngb-timepicker>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="pause">Pause</label>
              <ngb-timepicker id="pause" [(ngModel)]="pause" [spinners]="false"></ngb-timepicker>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="form-group">
              <label for="spent">Spent</label>
              <ngb-timepicker id="spent" [(ngModel)]="spent" [spinners]="false" readonlyInputs="true"></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-xs-12 col-md-1">-->
    <!--</div>-->
    <div class="col-xs-12 col-md-3">
      <div class="form-group">
        <label for="comment">Comment</label>
        <input id="comment" class="form-control" type="text" placeholder="Comment"/>
      </div>
    </div>
  </div>
</div>
